*.idea
*.DS_Store
*.pyc

*nodes*.jsonl*
*edges*.jsonl*
*nodes*.tsv*
*edges*.tsv*

build.log
biolink_lookup_map*
biolink_helper.py

/test/*.tsv
/test/responses/*
/test/queries/*

/test/results/*

*report.json
*.tsv